body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.hide{
  display: none;
}

.top-bar {
  padding: 0;
  margin-bottom: 50px;
  /*background-color: #689f38;*/
  border: 1px solid #689f38;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
  display: inline-block;
  background-color: #fff;
}

.top-bar-right {
  float: right;
  display: inline-block;
  background-color: #fff;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}


.containerText{
    border-radius: 5px;
    background-color: #f1f1f1;
    width: max-content;
    max-width: 400px;
    line-height: 30px;
    text-align: right;
    padding: 0 10px;
    float: right;
    margin: 1px 5px;
    margin-left: 100%;
}
.other-user{
    text-align: left;
    float: left;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 100%;
}

.search{
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  z-index: 9;
}

.chatty{
  position: relative;
}

.chatty-sm{
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  background: #fff;
}

.chatty-sm-header{
  height: 48px;
  border: 1px solid #000;
  text-align: center;
}

.dashboard{
  display: flex;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  position: absolute;
  top: 68px;
  left: 0;
}

.dashboard-sm{
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
  width: 100%;
}

.message-ul-list{
  list-style-type: none;
  overflow-y: scroll;
  padding: 0;
  height: 448px;
}

/*.message-ul-list::-webkit-scrollbar {
    width: 1em;
}
 
.message-ul-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.message-ul-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/
.message-ul-list::-webkit-scrollbar,
.name-list-item::-webkit-scrollbar {
    width: 5px;
    background-color: #FFFFFF;
} 
.message-ul-list::-webkit-scrollbar-thumb ,
.name-list-item::-webkit-scrollbar-thumb {
    background-color: #dedede;
}

.message-ul-list-sm{
  list-style-type: none;
  padding: 0;
  height: 400px;
  overflow-y: scroll;
}

.input-text{
  float: left;
  width: 78%;
  border: 1px solid #000;
}

.input-button{
  float: right;
  width: 20%;
  border: 1px solid #000;
}

.footer{
  height: 20px;
  width: 100%;
  border: 1px solid #689f38;
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: #689f38;
}

.new-icon{
    color: #fff;
    border: 1px solid green;
    border-radius: 3px;
    background-color: green;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    float: right;
}