body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
  display: inline-block;
}

.top-bar-right {
  float: right;
  display: inline-block;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}


.containerText{
    border-radius: 5px;
    background-color: #f1f1f1;
    height: 30px;
    width: max-content;
    line-height: 30px;
    text-align: right;
    padding: 0 10px;
    float: right;
    margin: 1px 5px;
    margin-left: 100%;
}
.other-user{
    text-align: left;
    float: left;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 100%;
}

.search{
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  z-index: 9;
}

.dashboard{
  display: flex;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 200px;
}
